.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
input {
  margin: 5px 0;
}
input, button {
  margin: 5px 0;
}
#kustuta {
  background-color: #e63900;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px; /* Добавляем отступ справа */
}
#kustuta:hover {
  background-color: white;
  color: #e63900;
  border: 1px solid #e63900;
}
button {
  background-color: #77b300;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 5px;
}

button:hover {
  background-color: white;
  color: #77b300;
  border: 1px solid #77b300;
}

#Dollar {
  background-color: #ff8533;
}

#Dollar:hover {
  background-color: white;
  color: #ff8533;
  border: 1px solid #ff8533;
}